
  <%- include('../partials/head'); %>

  <%- include('../partials/header'); %>
  
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
         <div id="word-cloud"></div>
          <form method="get" action="/home/next">
            <button class="fa fa-thumbs-up thumbs pull-left" type="submit"></button>
            <button class="fa fa-thumbs-down thumbs pull-right" type="submit"></button>
          </form>

        </div>
      </div>
    </div>
    <div id="nav">
      <%- include('../partials/nav'); %>
    </div>

  </main>
  <script>
    
    anychart.onDocumentReady(function()
    {
      console.log(<%= displayUser.interest %>);
      var data = [
    {"x": "John", "value": 100},
    {"x": "Soccer", "value": 25},
    {"x": "Chess", "value": 25 },
    {"x": "Coding", "value": 25 },
    {"x": "Video Games", "value": 25 }

  ];

      let chart = anychart.tagCloud(data);

      chart.angles([-45, 0,  90]);

      chart.tooltip(false);
      chart.container("word-cloud");
      chart.draw();
    });
  </script>
    <%- include('../partials/footer'); %>
  